---
import Layout from '~/layouts/PageLayout.astro';

// import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
// import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Dajhorsa — Servicios contables para micro, pequeñas y grandes empresas en Perú',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Conócenos',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Leer Más', href: '#servicios', variant: 'secondary' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Soluciones
      <span class="text-accent highlight"> Contables</span> Personalizadas para tu Negocio
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Somos <span class="font-semibold text-blue-600">Grupo Dajhorsa</span>, brindamos soluciones a Micro, Pequeña y Grandes Empresas de cualquier rubro.</span
      >Nuestro equipo de profesionales está comprometido con brindarte un servicio personalizado que te permita concentrarte en el crecimiento de tu negocio, mientras nos encargamos de tu contabilidad y asesoría financiera.
    </Fragment>
  </Hero> -->

  <Hero2
    tagline="Grupo Dajhorsa"
    title='Soluciones <span class="text-accent highlight"> Contables</span> Personalizadas para tu Negocio'
    subtitle='Brindamos soluciones a Micro, Pequeña y Grandes Empresas de cualquier rubro. Nuestro equipo de profesionales está comprometido con brindarte un servicio personalizado que te permita concentrarte en el crecimiento de tu negocio, mientras nos encargamos de tu contabilidad y asesoría financiera.'
    actions={[
      { variant: 'primary', text: 'Conócenos', href: '/sobre-nosotros', icon: 'tabler:square-rounded-arrow-right' },
      { text: 'Leer Más', href: '#servicios', variant: 'secondary' },
    ]}
    image={{
      src: '~/assets/images/hero_dajhorsa.png',
      alt: 'Store with a Coming Soon sign. Pre-launch Landing Page',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute main-hero inset-0 top-0 bg-cover bg-center opacity-30" style="background-image: url('https://images.unsplash.com/photo-1594732832278-abd644401426?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')">
      </div>
      <div class="relative min-h-full rotate-180 mt-1">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="svg-fill"></path>
          <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="svg-fill"></path>
          <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="svg-fill"></path>
      </svg>
      </div>
    </Fragment>
  </Hero2>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <Features
    id="servicios"
    tagline="Servicios"
    title="¿Cuales son Nuestros Servicios?"
    subtitle="En DAJHORSA, ofrecemos una amplia gama de servicios para satisfacer todas tus necesidades contables y fiscales."
    items={[
      {
        title: 'Contabilidad General',
        description:
          'Mantenemos los registros financieros de tu empresa de manera precisa y eficiente. Nos aseguramos de que tus datos contables sean precisos y confiables para que puedas tomar decisiones informadas sobre el estado de tu negocio',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Asesoría Tributaria',
        description:
          'Te ayudamos a optimizar tu carga fiscal cumpliendo con todas las normativas peruanas.Te ayudamos a optimizar tu carga fiscal cumpliendo con todas las normativas peruanas.',
        icon: 'tabler:components',
      },
      {
        title: 'Auditoría Financiera',
        description:
          'Evaluamos el estado financiero de tu negocio para mejorar la transparencia y confianza.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Planificación Fiscal',
        description:
          'Diseñamos estrategias fiscales personalizadas para maximizar el ahorro en impuestos.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Estado Finacieros',
        description:
          "Generamos estados financieros contables, como el balance general, estado de resultados, estado de flujo de efectivo y estado de cambios en el patrimonio neto.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Libros Electrónicos	y SIRE',
        description:
          'Ralizamos las validaciones de los comprobantes contables y presentamos los Libros Electrónicos y el SIRE de manera óptima.',
        icon: 'tabler:bulb',
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-section"></div>
  </Fragment>
  </Features>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Contable"
    title="Outsourcing Contable y Tributario"
    items={[
      {
        title: 'Registros de comprobantes de compra y venta',
        description:
          'Llevamos un control preciso de todas tus facturas, boletas y notas de crédito para asegurar el cumplimiento con la SUNAT y mantener tus operaciones organizadas.',
      },
      {
        title: 'Cálculo de impuestos',
        description:
          'Optimizamos el cálculo de IGV, Impuesto a la Renta y otros tributos para que pagues solo lo justo, evitando sanciones y aprovechando beneficios fiscales.',
      },
      {
        title: 'Declaraciones mensuales de IGV y Renta',
        description:
          'Presentamos tus declaraciones mensuales ante la SUNAT de manera puntual y sin errores, manteniendo tu empresa al día con las obligaciones tributarias.',
      },
    ]}
    image={{
      src: '~/assets/images/dajhorsa/dajhorsa_z.webp',
      alt: 'Dajhorsa Servicios Contables',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Contabilidad Externa</h3>
      Brindamos una ampla variedad de servicios contables para empresas de todo rubro, desde empresas que recién estan iniciando hasta empresas grandes.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      <div class="relative min-h-full">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="svg-fill"></path>
          <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="svg-fill"></path>
          <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="svg-fill"></path>
      </svg>
      </div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Declaracón mensual de PDT Plame',
        description: `Nos encargamos de presentar tus declaraciones laborales mensuales de manera puntual y precisa, garantizando el cumplimiento con las obligaciones ante la SUNAT y evitando problemas legales para tu empresa.`,
      },
      {
        title: 'Cáculo de Liquidaciones',
        description:
          'Realizamos el cálculo detallado de liquidaciones laborales para asegurar que cada pago final sea justo y conforme a la normativa vigente, cuidando tanto a la empresa como a los colaboradores.',
      },
      {
        title: 'Generación de boletas de pago',
        description:
          "Emitimos boletas de pago claras y precisas para tus trabajadores, asegurando transparencia y orden en tus procesos de remuneración.",
      }
    ]}
    image={{
      src: '~/assets/images/dajhorsa/dajhorsa_o.webp',
      alt: 'Dajhorsa Servicios Contables de Planilla',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Contabilidad de Planillas</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      <div class="relative min-h-full rotate-180">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="svg-fill"></path>
          <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="svg-fill"></path>
          <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="svg-fill"></path>
      </svg>
      </div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="¿Aún no tiene una Empresa? ¡Le mostramos como podría constituir rápidamente una!"
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Nombre y Actividad</span>',
        description:
          "Para comenzar, es fundamental tener claro el nombre de su negocio. Prepare al menos 3 posibles nombres o variaciones para asegurarse de que al menos uno esté disponible. Además, defina el giro de negocio y todas las actividades que abarcará para establecer una base sólida para su empresa.",
        icon: 'tabler:a-b',
      },
      {
        title: 'Paso 2: <span class="font-medium">Tipo de Constitución</span>',
        description:
          "Elija el tipo de constitución que mejor se adapte a su negocio en Perú: EIRL (Empresa Individual de Responsabilidad Limitada), S.A.C. (Sociedad por Anónima Cerrada), S.A. (Sociedad Anónima), S.R.L. (Sociedad de Responsabilidad Limitada), S.A. de C.V. (Sociedad Anónima de Capital Variable) o cooperativa.",
        icon: 'tabler:arrow-ramp-right-2',
      },
      {
        title: 'Paso 3: <span class="font-medium">Pago y Firmas</span>',
        description:
          'Complete el proceso legal con los pagos y firmas necesarios para formalizar su constitución empresarial, asegurándose de que toda la documentación cumpla con los requisitos establecidos por las autoridades correspondientes.',
        icon: 'tabler:currency-dollar',
      },
      {
        title: 'Ya todo esta listo para iniciar!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/dajhorsa/dajhorsa_an.webp',
      alt: 'Steps image',
    }}
  >

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-section"></div>
  </Fragment>
</Steps>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Todas las Actividades que Desarrollamos"
    subtitle="Los servicios antes presentados son generales, en esta sección listamos a todo lo que abarcamos."
    tagline="Lo que abarcamos"
    items={[
      {
        title: 'Impuestos, mensuales y anuales.',
        description: "Nos encargamos de presentar las declaraciones mensuales y anuales dentro de los plazos establecidos por la SUNAT.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Declaracion de Planillas',
        description:
          "Realizamos el llenado y las declaraciones del PDT PLAME e impuetos y trámites relacionados a ésta.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Declaracion de SIRE',
        description:
          'Estamos pendientes de los cambios y regulaciones de la SUNAT, por ello realizamos las presentaciones de SIRE y otras declaraciones.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Conciliaciones Bancarias',
        description:
          "Para un mejor control de sus ingresos y gastos nos encargamos de las conciliaciones bancarias de sus compras y ventas con los estados financieros bancarios.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Estados Financieros',
        description:
          'Realizamos Estados Financieros anuales y con cortes mensuales, bimestrales, trimestrales o según lo requiera nuestros clientes.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Elaboración de Documentos',
        description: 'También elaboramos documentos contables y legales, según lo requiera nuestros clientes.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Fraccionamiento de Deudas',
        description: 'Si viene por primera vez a <span class="font-semibold text-blue-600">Grupo Dajhorsa</span> nos encargamos de fraccionar sus deudas, y le ayudamos en toda la documentacion que requiera para poder saldar sus deudas ante la SUNAT.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Atención a Fiscalizaciones',
        description:
          'En caso la SUNAT establesca que su empresa necesita una revision por parte de la SUNAT, nos encargamos de presentar los requerimientos dentro de la fecha limite impuesta por la SUNAT.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Asesoría Legal',
        description: 'Realizamos atención a situaciones legales de su empresa, puede contar con <span class="font-semibold text-blue-600">Grupo Dajhorsa</span> para ayudarlo en cualquier caso legal.',
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent">
        <div class="relative min-h-full">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="svg-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="svg-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="svg-fill"></path>
        </svg>
        </div>
      </div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    subtitle="¡<span class='text-accent highlight'>DAJHORSA</span> Su Socio Estratégico en Finanzas y Contabilidad!"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Por qué elegir Dajhorsa?',
        description:
          "Somos la mejor opción al elegir una contabilidad externa para su empresa, le brindaremos todas las soluciones contables y nuestros profesionales están altamente capacitados para brindale el mejor servicio.",
      },
      {
        title: '¿Dónde estan ubicados?',
        description:
          'Nos ubicamos en Lima, Perú. Nuestra dirección exacta es Jr. Las Cidras 1233 Urb. Los Jardines - San Juan de Lurigancho - Lima.',
      },
      {
        title: '¿Cómo puedo empezar?',
        description:
          "Si ya cuentas con una empresa y desea que nos encaguemos de la parte contable, tendría que comunicar al uno de los número de la sección contacto para coordinar el proceso para iniciar. De otro modo si aun no cuenta con una empresa constituida, se tendria que hacer el trámite de constitución, igualmente nuestros asesores le guiarán en todo el proceso.",
      },
      {
        title: "¿Atienden a empresas de provincia?",
        description:
          "La distancia no es nuestros obstáculo, asi que si usted tiene un negocio en otro lugar que no sea cercano a nuestra oficina tenemos soluciones digitales para la comunicación y coordinacion de todos los servicio que le brindamos.",
      },
      {
        title: '¿Cuánto es el costo por llevar la contabilidad de mi empresa?',
        description:
          "El costo es algo que varía segun el rubro, tamaño, ubicaión, etc de su empresa, por lo que este sería calculado mediante una cotización previa coordinación con el cliente.",
      },
      {
        title: '¿Qué pasa si tengo deudas en mi empresa?',
        description:
          "¡Lo ayudamos en la solución! Nos encargamos de fraccionar sus deudas, y le ayudamos en toda la documentacion que requiera para poder saldar sus deudas ante la SUNAT.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Clientes Activos', amount: '+132' },
      { title: 'Clientes Satisfechos', amount: '99.90%' },
      { title: 'Mejoras', amount: '60%' },
      { title: 'Años de Experiencia', amount: '+20' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title='Inicia tu contabilidad con <span class="text-accent highlight">DAJHORSA</span>'
    subtitle='Solicita gratis una cotización o contáctenos para brindarle mayor información sobre nuestros servicios.'
    actions={[
      {
        variant: 'primary',
        text: 'Contactar Ahora',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:phone',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
